body{
    font-family: sans-serif;
    margin: 0;
    background-color: #b35353;

}

head{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    z-index: 100;
}

 .navbar a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    min-height: 85px;
    background-color:#FF7777 ;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 75px;
    margin-right: 10px;
}

nav a {
    font-weight: 600;
    padding-right: 30px;
}

nav a:hover{
    color: beige;
}

menu{ 
    display: none;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-icono{
    display: none;
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}


@media(max-width: 700px) {

    header{
        flex-direction: column;
    }

    .navbar{
        padding: 10px 0;
        font-size: 12px;
    }

    .navbar a{
        font-size: 10px;
        padding: 5px;
    }

    h3{
        font-size: 15px;
    }
    
    .logo img{
        height: 45px;
    }

}

*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    vertical-align: baseline;
    
}